<div class="row justify-content-md-center">
  <h1>Bem-vindo! Clique em login para acessar o sistema!</h1>
</div>
<!--ngIf é um teste comparativo que mostra a tag se for verdadeiro
    <p *ngIf="3 == 2">
      Teste com ngIf
    </p>
    aqui, o teste é feito para saber se vai colocar o hidden ou não
    <p [hidden]="!true">
      Teste com ngShow
    </p>-->
<!--a "url" é uma variável criada no home.component. href entre
      colchetes é para recebê-la
    <a class="btn btn-info" [href]="url">Sobre</a>
    <a (click)="exibeAlerta($event)">Teste com Click</a>
    <ul>
      <li *ngFor="let produto of produtos; let i = index">
        {{ i + 1 }} | {{ produto.titulo }} - {{ produto.descricao }}
      </li>
    </ul>-->
